<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeW PRODUCT</title>
  </head>
  <body>
    <form method="POST" action="/products">
      <label for="productName">Product NAME</label>
      <input type="text" name="productName" id="productName" />
      <label for="productPrice">Product Price</label>
      <input type="text" name="productPrice" id="productPrice" />
      <select name="productCat" id="productCat">
        <% for ( let category of categories) { %>
        <option value="<%= category %>"><%= category %></option>
        <% } %>
      </select>
      <br />
      <button>ADD</button>
      <a href="/products">Back</a>
    </form>
  </body>
</html>
